body{
    background-image: url(img/pexels-njeromin-11542516.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     display: flex;
    justify-content: center;
    align-items: center;
    
}


#main{
    width:500px ;
    height: auto;
    margin-top:50px ;
    border: 2px solid  white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 1.8em;
    padding: 20px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(5px);
    box-shadow: black 0px 5px 20px 20px;
}
input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    /* border: 2px solid white; */
    border: none;
    /* color: azure; */
    border-radius: 10px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 5px;
}


.data{
    margin: 10px;
}
#rf{
    display: flex;
    font-size: 20px;
    width: 100%;
}
#rm{
    align-items: start;
    width: 240px;
    justify-content: center;
}
#fp{
    text-align: end;
    width: 230px;
    justify-content: center;
    cursor: pointer;
}
#checkbox{
    width: 20%;
    cursor: pointer;
}
#submit{
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;

    border-radius: 10px;
}
#sigin {
    text-align: end;
    font-size: 20px;
    cursor: pointer;
}
#fp:hover{
    color: lightblue;
}
a:hover{
    color: lightblue;
}

#icons{
    gap: 80%;
    width: 100%;
    display: flex;
    

}
#sunlight{
    text-align: start;
    width: 100px;
    background-color: aliceblue;
    /* backdrop-filter: blur(50px); */
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

#moonlight{
    text-align: end ;
    width: 100px;
    background-color:aliceblue;
    /* backdrop-filter: blur(50px); */
    padding: 10px;
    border-radius: 50px; 
    cursor: pointer;   
}
a{
    color: aliceblue;
    text-decoration: none;
}
